---
import "../styles/global.css";
import { Moon, Braces, Search, Rss } from "@lucide/astro";
import { ClientRouter } from "astro:transitions";

const isOnCurrentPath = (path: string) => {
    return Astro.url.pathname === path;
};
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <ClientRouter />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Serene Ink</title>
    </head>
    <body class="max-w-page mx-auto">
        <nav class="px-5 lg:px-0 py-5 flex justify-between">
            <Braces />

            <ul class="flex items-center gap-4">
                <li>
                    <a href="/" class={isOnCurrentPath("/") ? "active" : ""}
                        ><span class={isOnCurrentPath("/") ? "" : "nav-link"}
                            >Writing</span
                        ></a
                    >
                </li>
                <li>
                    <a
                        href="/about"
                        class={isOnCurrentPath("/about") ? "active" : ""}
                        ><span
                            class={isOnCurrentPath("/about") ? "" : "nav-link"}
                            >About</span
                        ></a
                    >
                </li>
                <li>
                    <button type="button" aria-label="Toggle dark mode">
                        <Moon class="" size={16} />
                    </button>
                </li>
                <li>
                    <a href="/feed.xml">
                        <span>
                            <Rss size={16} />
                        </span>
                    </a>
                </li>
                <li>
                    <button type="button" aria-label="Open search">
                        <Search size={16} />
                    </button>
                </li>
            </ul>
        </nav>
        <slot />
        <div
            id="cursor"
            class="bg-primary mix-blend-hard-light opacity-0 size-3 rounded-full pointer-events-none z-9999 fixed top-0 left-0"
            transition:persist
        >
        </div>
        <script is:inline src="/scripts/cursor.js"></script>
    </body>
</html>
